.battle-hero {
  &.position1 {
    position: absolute;
    top: 30%;
    // right: 15%;
  }

  &.position2 {
    position: absolute;
    top: 50%;
    // right: 15%;
  }

  &.position3 {
    position: absolute;
    top: 40%;
  }

  &.front-row {
    right: 15%;
  }

  &.back-row {
    right: 5%;
  }

  &.hero-turn {
    right: 20rem;
  }

  &.attack-enemy0 {
    top: 31%;
    right: 55%;
  }

  &.attack-enemy1 {
    right: 55%;
    top: 47%;
  }

  &.attack-enemy2 {
    top: 43%;
    right: 70%;
  }

  &.attack-enemy3 {
    top: 30%;
    right: 73%;
  }

  &.attack-enemy4 {
    top: 60%;
    right: 72%;
  }

  &.red-boy {
    background-position: .6rem .3rem;
  }

  &.white-girl {
    background-position: .6rem -9.5rem;
  }

  &.green-boy {
    background-position: .3rem -19rem;
  }

  &.attacking {
    background-position-x: -9.5rem;
  }

  &.attack-swing {
    background-position-x: -21rem;
  }

  &.defense {
    background-position-x: -31rem;
  }
  
  &.dead {
    background-position-x: -60rem;
  }

  &.battle-hero-red-boy-movement {
    top: 30.5%;
  }

  &.battle-hero-white-girl-movement {
    top: 50.5%;
  }

  &.run1 {
    background-position-x: -40rem;
    right: 10%;
  }

  &.run2 {
    background-position-x: -50rem;
    right: 9.5%;
  }
}

.battle-ff-sprite {
  background-image: url('/resources/images/battle-sprites2.png');
  background-size: 70rem;
  height: 10rem;
  width: 10rem;
}

.damage-display-hero {
  color: #ff3300;
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 13pt;
  z-index: 1;
}
