.battle-menu-container {
  display: flex;
  min-height: 26vh;
  .battle-menu-main {
    flex: 1;
    color: #C2C3C7;
    text-indent: 40px;
    font-size: 20pt;
    text-shadow: 2px 1px #8a8a7b;
    border: 2px solid rgba(255, 255, 255, .20);
    box-shadow: 3px 3px rgb(10, 10, 10), -3px -3px rgb(10, 10, 10), -3px 3px rgb(10, 10, 10), 3px -3px rgb(10, 10, 10);
    background-color: rgba(15, 14, 45, .65);
    border-radius: 5px;
    z-index: 1;
    li {
      font-family: 'Istok Web', sans-serif;
      font-size: 22pt;
      list-style-type: none;
      margin-top: 0px;
      margin-bottom: 20px;
      text-indent: 40px;
      text-shadow: 2px 1px #8a8a7b;
    }

    th {
      text-align: left;
      height: 1px;
      font-size: 20pt;
    }

    tbody + tbody {
      font-family: 'Istok Web', sans-serif;
      font-size: 22pt;
      height: 1px;
    }
  }

  .battle-menu-main-stats {
    flex: 1;
    color: #C2C3C7;
    text-indent: 40px;
    font-size: 20pt;
    text-shadow: 2px 1px #8a8a7b;
    border: 2px solid rgba(255, 255, 255, .20);
    box-shadow: 3px 3px rgb(10, 10, 10), -3px -3px rgb(10, 10, 10), -3px 3px rgb(10, 10, 10), 3px -3px rgb(10, 10, 10);
    background-color: rgba(15, 14, 45, .65);
    border-radius: 5px;
    li {
      font-family: 'Istok Web', sans-serif;
      font-size: 22pt;
      list-style-type: none;
      margin-top: -5px;
      margin-bottom: 25px;
      text-indent: 40px;
      text-shadow: 2px 1px #8a8a7b;
    }

    th {
      text-align: left;
      height: 1px;
      font-size: 20pt;
    }

    tbody + tbody {
      font-family: 'Istok Web', sans-serif;
      font-size: 22pt;
      height: 1px;
    }
  }
}

.low-health {
  color: rgba(130,14,16,0.5);
}

.low-magic {
  color: rgba(130,14,16,0.5);
}

.health-bar {
  position: relative;
  div {
    height: .5rem;
    width: 75%;
    position: absolute;
    left: 4rem;
    background-color: rgba(130,14,16,0.5);
    span {
      background-color: rgba(45, 179, 77, 0.71);
      border-radius: 10rem;
      position: absolute;
      height: .5rem;
      left: 0;
    }
  }
}

.magic-bar {
  position: relative;
  div {
    height: .5rem;
    width: 73%;
    position: absolute;
    left: 4rem;
    background-color: rgba(130,14,16,0.5);
    span {
      background-color: rgba(35, 194, 246, 0.71);
      border-radius: 10rem;
      position: absolute;
      height: .5rem;
      left: 0;
    }
  }
}

.menu-select {
  padding: 0 0px;
  text-align: left;
  text-shadow: 2px 1px #8a8a7b;
  font-size: 22pt;
  span + span {
    height: auto;
  }
}

.character-turn {
  color: rgba(110, 110, 110, 1);
  text-shadow: 2px 1px rgba(250, 250, 250, .3);
}

.battle-menu-turn {
  color: #C2C3C7;
  text-shadow: 2px 1px #8a8a7b;
  height: 20rem;
  min-width: 30rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px #0a0a0a, -3px -3px #0a0a0a, -3px 3px #0a0a0a, 3px -3px #0a0a0a;
  background-color: rgba(15, 14, 45, 0.85);
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  left: 15rem;
  bottom: 0;
  display: flex;
  flex-direction: row;
  div {
    flex: 1;
    li {
      font-family: 'Istok Web', sans-serif;
      font-size: 22pt;
      list-style-type: none;
      margin-top: 0px;
      margin-bottom: .4rem;
      text-indent: 10px;
      text-shadow: 2px 1px #8a8a7b;
    }
  }
}

// .battle-menu-turn > li:nth-child(6) {
//   position: absolute;
//   top: 0;
//   right: 14rem;
// }

.battle-menu-turn > ul > li{
  font-family: 'Istok Web', sans-serif;
  font-size: 22pt;
  list-style-type: none;
  margin-bottom: -5px;
  text-shadow: 2px 1px #8a8a7b;
}

.menu-attack {
  // min-width: 600px;
  z-index: 1;
  bottom: 4rem;
  left: 5rem;
}

.menu-items-select {
  z-index: 2;
  bottom: 8rem;
  left: 10rem;
}

.menu-magic {
  min-width: 30rem;
  z-index: 1;
  bottom: 4rem;
  left: 5rem;
}

.menu-items {
  min-width: 30rem;
  z-index: 1;
  bottom: 4rem;
  left: 5rem;
}

.magic-attack-menu {
  margin-left: 250px;
  margin-top: -250px;
  z-index: 1;
}

.sub-menu-row2 {
  margin-left: 400px;
  margin-top: -0px;
  z-index: 1
}

.more-than-five {
  min-width: 60rem;
}
