.idea/
node_modules/
public/bundle.js
.DS_Store
coverage/
client/js/components/BattleMenuAttack.js
client/js/components/BattleMenuItem.js
client/js/components/BattleMenuTurn.js
client/js/helpers/magic-function.js
