.battle {
  max-width: 1352px;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.forest-battle {
  background-image: url('/resources/images/forest-battle.png');
}

.desert-battle {
  background-image: url('/resources/images/desert-battle.png');
}

.grass-battle {
  background-image: url('/resources/images/grass-battle.png');
}

.boss-battle {
  background-image: url('/resources/images/boss-battle.png');
}

.beach-battle {
  background-image: url('/resources/images/beach-battle.png');
}
